@font-face {
  font-family: Solway;
  src: url(fonts/Solway-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Solway;
  src: url(fonts/Solway-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Solway;
  src: url(fonts/Solway-Light.ttf);
  font-weight: light;
}
@font-face {
  font-family: Solway;
  src: url(fonts/Solway-Medium.ttf);
  font-weight: medium;
}

:root {
  --primary-color: #EB3D47;
  --primary-color-500: #AD2A32;
  --primary-gradient: linear-gradient(
    to right, var(--primary-color-500) , var(--primary-color));
  --secondary-color: #3D9EEB;
  --secondary-color-500: #1D5480;
  --secondary-gradient: linear-gradient(
    to right, var(--secondary-color-500) , var(--secondary-color));
  --tertiary-color: #3DEB8A;
  
  --grey-600: #41393A;

  --block-bgcolor: #F4F4F4;
}

h1 {
  background: var(--secondary-gradient);
  background-clip: text;
  color: transparent;
  font-family: 'Solway';
  font-size: 36px;
  margin: 0px;
}

h2 {
  background: var(--secondary-gradient);
  background-clip: text;
  color: transparent;
  font-family: 'Solway';
  font-size: 30px;
  margin: 0px;
}

.section-hint {
  color: var(--grey-600);
  font-family: 'Solway';
  font-size: 13px;
}

.block {
  background-color: var(--block-bgcolor);
  border-radius: 30px;
  padding: 45px;
}

#config-block {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 30px;
}

#piano-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.variable-entry {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 55px;
  padding-left: 25px;
  padding-right: 25px;
  width: fit-content;
}

.variable-entry-name, .variable-8va {
  display: inline-block;
  font-family: 'Solway';
  font-weight: bold;
  font-size: 20px;
}

.variable-entry-name {
  width: 69px;
}

.input {
  border-radius: 15px;
  border-width: 2px;
  border-color: var(--secondary-color);
  display: inline-block;
  font-family: 'Solway';
  font-size: 20px;
  padding: 0px;
  width: 64px;
}

.input.wide {
  width: 120px;
}

#variables-and-init-values {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.variables-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.variable-add-or-del-img {
  height: 21px;
  width: 21px;
  cursor: pointer;
}

.variable-play-on-or-off {
  height: 30px;
  cursor: pointer;
}

#ready {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#main-frame {
  display: flex;
  flex-direction: row;
}